@charset "UTF-8";
/* CSS Document */


.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.wrapper:nth-child(2) {
	height: 755px;
}

.bg-blue {
	background-color: #5eb0d1;
	opacity: 0.4;
	
	
}



.bg-dark-blue {
	background-color: #5eb0d1;
}


.bg-blue {
	height: 507px;
}

 

 li {
	display: inline-block;
	 padding: 10px;
	 float: left;
}


nav:first-child {
	margin-left: 450px;
	
	
}

#about > p:first-child, #order > h3  {
	text-align: center;
	color: #e20c21;
	font-size: 34px;
	font-family: 'Asap';
}

#about > p:last-child {
	margin-right: 1000px;
}

 #hours > nav li  {
	background-image: url(../img/cherry-icon.png);
	background-repeat: no-repeat;
	background-size: 30px
}



p {
	font-size: 14px;
}

#first-pic {
	background-image: url(../img/heart-on-top-cupcake.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 700px;
	height: 300px;
	
	margin-left: 350px;
	
}

#first-pic > p {
	color: #fff;
	font-size: 55px;
	margin-top: 170px;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	background-color: #e20c21;
	padding: 5px 20px;
	
}



#treats > p:nth-child(2), #r-8 > p:nth-child(2) {
	text-align: center;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}


.row:first-child {
	width: 1170px;
	height: 375px;
}

#r-1 {
	margin-left: 110px;
}


#r-11 {
	margin-right: 910px;
}



 h2 {
	color: #5eb0d1;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

#hours > nav {
	font-size: 14px;
	display: block;
}

#signature, #allergen, #vegen {
	margin-right: 880px;
}






 label {
	display: block;
	padding: 10px;
}

form > label:first-child > input, form > label:nth-child(2) > input, label:nth-child(3) > input, label:nth-child(4) > input  {
	width: 469px;
	height: 30px;
}

label:nth-child(5) > input {
	width: 469px;
	height: 183px;
}

table {
	border-collapse: collapse;
	padding: 50px;
	background-color: #fff;
	margin-left: 450px;
	margin-top: 40px;
	margin-bottom: 40px;
	
	
}

td, th {
	 padding: 5px;
	text-align: left;
}

th, tbody > tr >td:first-child{
	color: #0fb787;
	font-size: 13px;
}

td:nth-child(2), td:nth-child(3), td:last-child{
	font-style: italic;
}






/*-------Float------*/
 #first-pic, #first-pic > p {
	float: left;
	
} 









